{% extends "layout.html" %}

{% block title %}
    Head-to-Head
{% endblock %}

{% block main %}

<div class="container content">
    <form action="/head-to-head" method="POST" onsubmit="return validateForm()">
        <div class="content" style="gap: 1em;">
            <select id="firstTeam" name="team">
                <option value="">Please select a team</option>
                {% for key, value in teams.items() %}
                <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
            <select id="secondTeam" name="team">
                <option value="">Please select a team</option>
                {% for key, value in teams.items() %}
                <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="content" style="margin-top: 0.5em; display: inline-block; vertical-align: middle;">
            <label for="start_date">Start Date:</label>
            <input type="date" class="date" id="start_date" name="start_date" min="{{MIN_DATE}}" max="{{MAX_DATE}}" value="{{MIN_DATE}}"/>
            <label for="end_date">End Date:</label>
            <input type="date" class="date" id="end_date" name="end_date" min="{{MIN_DATE}}" max="{{MAX_DATE}}" value="{{MAX_DATE}}"/>
            <button type="submit" class="button">Submit</button>
        </div>
    </form>
    <script src="/static/head-to-head.js"></script>
</div>

{% endblock %}